<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Création d'un Disque</title>
</head>
<body>
<div class="panel-body">
    <form>
        <fieldset>
            <div class="list-group-item">
                <label for="name">Nom du Disque :  </label><input type="text" name="name" id="name" value="">
            </div>
            <div class="list-group-item">
                <label for="id">Id du Disque :  </label><input type="id" name="id" id="id" value="">
            </div>
            <div class="list-group-item">
                <label for="user">Propriétaire :   </label><input type="user" name="" id="user" value="">
            </div>
            <div class="list-group-item">
                <label for="tarif">Tarif :  </label><input type="tarif" name="tarif" id="tarif" value="">
            </div>
            <div class="list-group-item">
                <label for="createdat">Créer le :  </label><input type="createdat" name="createdat" id="createdat" value="">
            </div>
            <div class="list-group-item">
                <input type="submit" value="Envoyer">
            </div>
        </fieldset>
    </form>
</div>
<br>
</body>
</html>